@import "tailwindcss";

.cor-texto {
  color: #414141;
}

.poppins-100 {
  font-weight: 100;
}

.poppins-200 {
  font-weight: 200;
}

.poppins-300 {
  font-weight: 300;
}

.poppins-400 {
  font-weight: 400;
}

.poppins-500 {
  font-weight: 500;
}

.poppins-600 {
  font-weight: 600;
}

.poppins-700 {
  font-weight: 700;
}

.poppins-800 {
  font-weight: 800;
}

.poppins-900 {
  font-weight: 900;
}
html {
  scroll-behavior: smooth;
}